
:root {
--dun: #E8D2B1ff;
--platinum: #EBEBE8ff;
--sandy-brown: #F1A771ff;
--flame: #E96838ff;
--cambridge-blue: #6EA69Dff;
--indigo-dye: #0B3D64ff;
}

a {
  text-decoration: none;
  font-size: 14px;
  transition: linear 150ms;
  color:var(--dun)
}
a:hover {
  color: var(--flame);
}

h1 {
  font-size: 3rem;
}

body {
    width:100vw;
    height:100vh;
    font-family:"Helvetica Neue Bold", sans-serif;
    font-weight: 800;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: var(--indigo-dye);
    color: var(--dun);
    letter-spacing: -.025rem;
    line-height: 1.5rem;
}
.container{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    margin: 15% 0 0 10%;
}
.content{
  height:100%;
  width: 30.33%;
}
